html,
body {
  overflow-x: hidden;
}

.ui-title-bar {
  width: 100%;
  padding: 20px;
  background-color: lightblue;
}

.center-float {
  margin: auto;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  // specify width and height in component
}

// LeftSidePanel <Component>
.left-side-panel {
  height: 100vh;
  background-color: #d6d6d6;
}

.left-side-panel-button {
  cursor: pointer;
  margin: 5px 0 5px 10px;
  padding: 10px 0 10px 20px;
  background-color: #ededed;
}

// User <Component>
.user-component-container {
  position: relative;
}

.user-component-details-container {
  padding: 10px;
  display: inline-block;
  margin-left: 40px;
}

.user-component-checkbox {
  position: absolute;
  top: 4px; left: 4px;
  transform: scale(1.5);
}

.user-component-name {
  margin-left: 20px;
}

.user-component-email {
  // border-left: 1px solid black;
}


// .user-component-delete-button {
//   cursor: pointer;
//   display: block;
//   position: absolute;
// }

// ViewUsers <Component>
.user-bulk-actions-and-search-container {
}

.users-list-labels-container {
  color: #fff;
  background-color: #000;
}

.users-list-label-name {
  margin-left: 20px;
}

.users-list-label-email {
}
