$moduleColor: #efefef;
$moduleBorderColor: #bfbfbf;
$lightGrey: #B1B3B6;
$darkGrey: #636466;
$ecoLabBlue: #0088CE;
$purp: #3F51B5;

@font-face {
    font-family: 'interstateregular_comp';
    src: url('./fonts/interstate-regular-comp-webfont.woff2') format('woff2'),
         url('./fonts/interstate-regular-comp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
  overflow-x: hidden;
  background-color: #FFF;
  font-family: "interstateregular_comp";
}

select,
option {
  font-family: 'interstateregular_comp'
}

@media (min-width: 640px) {
  .left-side-panel {
    background-color: #000;
  }
}

// Misc.
// .customer-name-input-boxes:not(:first-child) {
//   padding: 0 0 0 30px;
// }

.page-title {
  font-weight: bold;
  font-size: 1.85rem;
  margin-bottom: 10px;
}

.section-title {
  font-weight: bold;
  font-size: 1.35rem;
  margin-bottom: 10px;
}

.padding-div-10 {
  padding: 10px;
}

.padding-div-20 {
  padding: 20px;
}

.fullscreen-darken {
  top: 0;
  width: 100%;
  height: 150%;
  background-color: rgba(0,0,0,0.35);
  position: absolute;
  overflow: hidden;
  z-index: 2;
}

.ui-title-bar {
  width: 100%;
  padding: 20px;
  // background-color: lightblue;
}

.center-float {
  margin: auto;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 1px solid #888;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  // specify width and height in component
}

.x-symbol {
  cursor: pointer;
  display: inline-block;
}

.x-symbol-absolute {
  cursor: pointer;
  display: block;
  position: absolute;
}

.plus-symbol {
  width: 50px;
  cursor: pointer;
  font-size: 2rem;
  display: inline-block;
  background-color: $ecoLabBlue;
  // border-radius: 4px;
  text-align: center;
  color: #fff;
}

.plus-symbol:hover {
  transform: scale(1.05);
}

.plus-symbol-inner-text {
  // margin-top: -4px;
}

// LeftSidePanel <Component>
.left-side-panel {
  height: 100vh;
}

.panel-button-users {
}

.panel-button-admins {
}

.left-side-panel-button {
  cursor: pointer;
  margin: 5px 0 5px 10px;
  padding: 10px 0 10px 20px;
  background-color: #ededed;
}

// User <Component> & Admin <Component>
.user-component-container {
  padding: 10px 0 10px 0;
  background-color: #ededed;
  border: 1px solid #888;
  position: relative;
}

.user-component-details-container {
  padding: 10px;
  display: inline-block;
  margin-left: 40px;
}

.user-component-checkbox {
  position: absolute;
  top: 14px; left: 7px;
  transform: scale(1.5);
}

.user-component-name {
  margin-left: 20px;
}

.user-component-email {
}

.user-edit-clickable-region {
  top: 0;
  width: 100%;
  height: 50px;
  position: absolute;
  cursor: pointer;
}

// ViewUsers <Component>
.user-search-box-label {
  display: inline;
}

.user-bulk-actions-and-search-container {
  padding: 20px;
  background-color: #c1c1c1;
}

.users-list-labels-container {
  color: #fff;
  background-color: #000;
}

.users-list-label-name {
  margin-left: 20px;
}

.users-list-label-email {
}

// MODALS
// UserEditView <Component>
.modal-user-edit-view-container {
}
.modal-user-edit-title-ribbon {
  padding: 10px;
  background-color: #ccc;
  border-bottom: 1px solid #888;
}

// .modal-cancel-button {
//   top: 0;
//   right: 0;
//   position: absolute;
// }

.edit-tour-modal,
.edit-webmodule-modal,
.edit-custommodule-modal,
.edit-company-modal {
  width: 600px;
  height: 95%;
  text-align: center;
  // border-radius: 4px;
  overflow: scroll;
  border: 1px solid $lightGrey;
}

.edit-webmodule-modal {
  height: 75%;
}

// Dashboard
.dashboard-button-x-large {
  width: 49%;
  min-width: 300px;
  margin: 2px;
  height: 500px;
  background-color: $ecoLabBlue;
  // border: 1px solid #555;
  display: inline-block;
  // border-radius: 2px;
  text-align: center;
  line-height: 500px;
  user-select: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.dashboard-button-large {
  width: 49%;
  margin: 2px;
  color: white;
  height: 300px;
  min-width: 300px;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
  line-height: 300px;
  // border-radius: 2px;
  text-align: center;
  display: inline-block;
  background-color: $ecoLabBlue;
  border: 1px solid $darkGrey;
  // color: $darkGrey;
}

// Web Module
.web-module-in-list {
  margin: 6px;
  width: 300px;
  height: 150px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
  // border-radius: 2px;
  line-height: 150px;
  background-color: $moduleColor;
  vertical-align: top;
  border: 1px solid $moduleBorderColor;
}

.web-module-x-btn {
  position: absolute;
  top: -66px; right: 6px;
  font-weight: bold;
  border-radius: 10px;
  width: 10px; height: 10px;
  font-size: 1.35rem;
  z-index: 2;
}

.web-module-in-list-edit-icon {
  width: 12px;
  margin: 0 0 4px 6px;
  // display: inline;
}

.web-module-in-list-backing {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  // background-color: red;
  // opacity: .5;
}

// Companies
.company-in-list {
  margin: 5px;
  padding: 10px;
  width: 240px;
  min-height: 280px;
  position: relative;
  // border-radius: 4px;
  background-color: $moduleColor;
  border: 2px solid green;
  display: inline-block;
  vertical-align: top;
  border: 1px solid $moduleBorderColor;
}

.company-in-list-x-symbol {
  top: -4px;
  right: 4px;
  font-size: 1.35rem;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.company-in-list-title {
  font-weight: bold;
  font-size: 1.2rem;
  user-select: none;
  display: inline;
}

.company-in-list-customer-names {
  font-size: .85rem;
}

.company-in-list-thumbnail {
  width: 140px;
}

.company-in-list-edit-icon {
  width: 12px;
  margin: 0 0 4px 10px;
  display: inline;
}

.company-in-list-backing {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  // background-color: red;
  // opacity: .5;
}

// Tours
.tour-in-list {
  margin: 5px;
  padding: 10px;
  width: 280px;
  min-height: 280px;
  position: relative;
  // border-radius: 4px;
  background-color: $moduleColor;
  border: 1px solid $moduleBorderColor;
  // border: 2px solid green;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 3rem;
  font-size: .85rem;
}

.tour-in-list-x-symbol {
  top: -14px;
  right: 3px;
  font-size: 1.35rem;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.tour-in-list-title {
  font-weight: bold;
  font-size: 1.2rem;
  user-select: none;
  display: inline;
}

.tour-in-list-backing {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  // background-color: red;
  // opacity: .5;
}

.tour-in-list-edit-icon {
  width: 12px;
  margin: 0 0 4px 10px;
  display: inline;
}

// Custom Module
.custom-module-in-list {
  margin: 6px;
  width: 500px;
  height: 350px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
  // border-radius: 2px;
  line-height: 50px;
  background-color: $moduleColor;
  border: 1px solid $moduleBorderColor;
  vertical-align: top;
}

.custom-module-in-list-title {
  font-weight: bold;
  font-size: 1.2rem;
  user-select: none;
  display: inline;
}

.custom-module-x-btn {
  position: absolute;
  font-size: 1.35rem;
  font-weight: bold;
  top: -16px; right: 6px;
  border-radius: 10px;
  width: 10px; height: 10px;
  z-index: 2;
}

// Transition Group - CSS Transitions
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
